.home {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 4rem;
  margin-top: 1rem;
}

.home__container {
  padding: 1rem;
  padding-right: 0;
  color: white;
  font-family: monospace;
  font-size: 16px;
  display: flex;
  line-height: 18px;
  flex-direction: column;
  flex: 1;
  background: #222;
  max-width: 60rem;
  border-radius: 5px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.home__dummy-header {
  display: flex;
  padding-bottom: 0.8rem;
}

.home__dummy-header-item {
  margin-right: 0.4rem;
  min-width: 0.8rem;
  min-height: 0.8rem;
  border-radius: 100%;
}

.home__dummy-header-item--red {
  background: rgb(238, 107, 95);
}

.home__dummy-header-item--yellow {
  background: rgb(246, 191, 79);
}

.home__dummy-header-item--green {
  background: rgb(95, 197, 84);
}

.home__content {
  /* flex: 1; */
  overflow: scroll;
  white-space: pre-line !important;
}

.home__content-line {
  white-space: pre;
}

.home__input-container {
  flex: 0 0 auto;
  display: flex;
}

.home__input-prefix {
  padding-right: 0.6rem;
}

.home__input {
  text-rendering: geometricPrecision;
  line-height: 18px;
  font-family: monospace;
  color: white;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
